{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="article-index journal desktop-12 tablet-6 mobile-3{% cycle ' first', '', ' last' %}" id="article-{{ article.id }}" data-alpha="{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">   

  <div class="article-info"> 

    <div class="article-info-inner desktop-5 tablet-3">
      {% assign published_at = article.published_at | date: format: 'month_date_year' %}
      <p class="posted">{% comment %}ly_i18n_replace_for_[ 'blogs.article.posted_on_date_html' | t: date: published_at ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}{% endcapture %}{% include 'ly-static-string' with '2929504' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = published_at  %}{% assign ly_template = ly_template | replace: '[[date]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
      
      <h2><a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h2>

      {% if template != 'index' %}
      {% if article.comments_count > 0 %}
      <p class="posted">{{ article.comments_count }} <ly-as-2929502>Comments</ly-as-2929502></p>
      {% endif %} 
      {% endif %}

      <div class="article-content">
        {% if article.excerpt == blank %}
        {% comment %}ly_code_replace_for_[ article.content | strip_html | truncate: 90 ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation | strip_html | truncate: 90 }}{% comment %}ly_code_replace_end{% endcomment %}
        {% else %}
        {% comment %}ly_code_replace_for_[ article.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        {% endif %}
      </div>

      {% if template != 'index' %}
      {% if article.tags.size > 0 %}
      <p class="post-tags">{% comment %}ly_i18n_replace_for_[ 'blogs.article.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '2929505' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}:
        {% for tag in article.tags %} 
        <a href="{{ blog.url }}/{% comment %}ly_i18n_replace_for_[ 'blogs.article.tagged' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.tagged' | t }}{% endcapture %}{% include 'ly-static-string' with '2929506' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}/{{ tag | handle }}">
          {{ tag }}
        </a>
        {% endfor %}
      </p>
      {% endif %}   


      <div class="readmore">
        <a href="{{ article.url }}">{% comment %}ly_i18n_replace_for_[ 'blogs.article.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '2929507' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      </div>
      
      {% comment %}
      {% include 'social' with article %}
      {% endcomment %}
      
      {% endif %}
    </div>
    
    <div class="desktop-6 desktop-push-1 tablet-3">
		{% if article.image %}<a href="{{ article.url }}"><img class="article-image" src="{{ article.image | img_url: 'grande' }}" alt="{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"></a>{% endif %}
    </div>

  </div>

</div>