{% assign id_one = 'homepage_featured_' | append:item_one %}
{% assign product_one = all_products[settings[id_one]] %}
{% assign alt_image_one_id = 'homepage_featured_' | append:item_one | append:'_alt_image' %}
{% if settings[alt_image_one_id] == nil %}
	{% assign image_one = product_one.featured_image %}
{% else %}
	{% assign image_one = settings[alt_image_one_id] %}
{% endif %}

{% assign alt_caption_id = 'homepage_featured_' | append:item_one | append:'_caption'%}
{% if settings[alt_caption_id] == blank %}
	{% assign caption_one = product_one.title %}
{% else %}
	{% assign caption_one = settings[alt_caption_slug] %}
{% endif %}

{% assign alt_url_id = 'homepage_featured_' | append:item_one | append:'_alt_url'%}
{% if settings[alt_url_id] == blank %}
	{% assign url_one = product_one.url %}
{% else %}
	{% assign url_one = settings[alt_url_id] %}
{% endif %}

{% assign id_two = 'homepage_featured_' | append:item_two %}
{% assign product_two = all_products[settings[id_two]] %}
{% assign alt_image_two_id = 'homepage_featured_' | append:item_two | append:'_alt_image' %}
{% if settings[alt_image_two_id] == nil %}
	{% assign image_two = product_two.featured_image %}
{% else %}
	{% assign image_two = settings[alt_image_two_id] %}
{% endif %}
{% assign alt_caption_id = 'homepage_featured_' | append:item_two | append:'_caption'%}
{% if settings[alt_caption_id] == blank %}
	{% assign caption_two = product_two.title %}
{% else %}
	{% assign caption_two = settings[alt_caption_slug] %}
{% endif %}
{% assign alt_url_id = 'homepage_featured_' | append:item_two | append:'_alt_url'%}
{% if settings[alt_url_id] == blank %}
	{% assign url_two = product_one.url %}
{% else %}
	{% assign url_two = settings[alt_url_id] %}
{% endif %}

<div class="slider featured__item featured__item--slider">
	<a class="slider__anchor"
		 href="{{ url_one }}"
		 data-href-primary="{{ url_one }}"
		 data-href-secondary="{{ url_two }}"
	></a>
	<div class="featured__inner">
		<div class="slider__item">
			<a href="{{ url_one }}">
				<div class="slider__image-container">
					{% include 'product-image-srcset',
					class: 'slide__image'
					image: image_one %}
				</div>
				<div class="featured__caption">
					<h1>{{ caption_one }}</h1>
				</div>
			</a>
		</div>

		<div class="slider__item slider__item-alt">
				<a href="{{ url_two }}">
					<div class="slider__image-container slider__overlay-container">
						<svg class="slider__overlay-svg">
							<clipPath id="clip">
								<rect x="0" y="0" height="100%" width="100%" fill="none"></rect>
							</clipPath>
						</svg>
						<div class="slider__overlay">
							{% include 'product-image-srcset',
							class: 'slide__image'
							image: image_two %}
						</div>
					</div>
					<div class="featured__caption">
						<h1>{{ caption_two }}</h1>
					</div>
				</a>
		</div>
	</div>

</div>
