
{% assign slug = 'homepage_block_' | append:item %}
{% assign url_id = slug | append:'_url' %}
{% assign url = settings[url_id] %}
{% assign caption_id = slug | append:'_caption' %}

{% comment %}
	If it's a collection, product, or page, assign some defaults
{% endcomment %}

{% assign arr = url | split: '/' %}
{% if arr[0] == 'http:' or arr[0] == 'https:' %}
	{% assign target = "blank" %}
{% else %}
	{% assign target = "" %}
{% endif %}

{% assign type = arr[1] %}
{% if type == "collections" %}
	{% assign collection = collections[arr[2]] %}
	{% assign caption = collection.title %}
	{% assign image = collection.image %}
{% elsif type == "blogs" %}
	{% assign blog = blogs[arr[2]] %}
	{% assign article_handle = blog.handle | append: '/' | append: arr[3] %}
	{% for i in blog.articles %}
		{% if i.handle == article_handle %}
			{% assign article = i %}
			{% break %}
		{% endif %}
	{% endfor %}
	{% assign caption = article.title %}
	{% assign image = article.image %}
{% elsif type == "products" %}
	{% assign product = all_products[arr[2]] %}
	{% assign caption = product.title %}
	{% assign image = product.image %}
{% elsif type == "pages" %}
	{% assign page = pages[arr[1]] %}
	{% assign caption = page.title %}
{% else %}
	{% assign caption = settings[caption_id] %}
{% endif %}

{% assign image_id = slug | append:'_image' %}
{% if settings[image_id] != nil %}
	{% assign image = settings[image_id] %}
{% endif %}

{% if settings[caption_id] != blank %}
	{% assign caption = settings[caption_id] %}
{% endif %}

{% assign video_slug = slug | append:'_video' %}
{% if settings[video_slug] == nil %}
	{% assign video = false %}
{% else %}
	{% assign video = settings[video_slug] %}
{% endif %}

{% assign audio_slug = slug | append:'_audio_enabled' %}
{% if settings[audio_slug] == true %}
	{% assign audio = true %}
{% else %}
	{% assign audio = false %}
{% endif %}



<div class="featured__item watch-in-view">
	<div class="featured__inner">
		<div class="featured__image-frame">
			<a href="{{ url }}">
				{% include 'product-image-srcset', with image, preload: true, sizes: "max-width(860px) 480px, 50vw" %}
				{% if video != false %}
					<div class="featured__video">
						{% comment %} {% capture poster %}{{ image.src | img_url: }}{% endcapture %} {% endcomment %}
						{% include 'video' with video, audio: audio, autoplay: true, width: 1200, background: true, lazy: true %}
					</div>
				{% endif %}
			</a>
		</div>
		{% if caption != blank %}
			<div class="featured__caption">
				<h1>
					<a href="{{ url }}" target="{{ target }}">{{ caption }}</a>
				</h1>
			</div>
		{% endif %}
	</div>
</div>
