{% assign id_one = 'homepage_featured_' | append:item_one %}
{% assign product_one = all_products[settings[id_one]] %}
{% assign alt_image_one_id = 'homepage_featured_' | append:item_one | append:'_alt_image' %}
{% if settings[alt_image_one_id] == nil %}
	{% assign image_one = product_one.featured_image %}
{% else %}
	{% assign image_one = settings[alt_image_one_id] %}
{% endif %}

{% assign video_one_slug = 'homepage_featured_' | append:item_one | append:'_video' %}
{% if settings[video_one_slug] == nil %}
	{% assign video_one = false %}
{% else %}
	{% assign video_one = settings[video_one_slug] %}
{% endif %}

{% assign audio_one_slug = 'homepage_featured_' | append:item_one | append:'_audio_enabled' %}
{% if settings[audio_one_slug] == true %}
	{% assign audio_one = true %}
{% else %}
	{% assign audio_one = false %}
{% endif %}

{% assign alt_caption_id = 'homepage_featured_' | append:item_one | append:'_caption'%}
{% if settings[alt_caption_id] == blank %}
	{% assign caption_one = product_one.title %}
{% else %}
	{% assign caption_one = settings[alt_caption_slug] %}
{% endif %}

{% assign alt_url_id = 'homepage_featured_' | append:item_one | append:'_alt_url'%}
{% if settings[alt_url_id] == blank %}
	{% assign url_one = product_one.url %}
{% else %}
	{% assign url_one = settings[alt_url_id] %}
{% endif %}

{% assign id_two = 'homepage_featured_' | append:item_two %}
{% assign product_two = all_products[settings[id_two]] %}
{% assign alt_image_two_id = 'homepage_featured_' | append:item_two | append:'_alt_image' %}
{% if settings[alt_image_two_id] == nil %}
	{% assign image_two = product_two.featured_image %}
{% else %}
	{% assign image_two = settings[alt_image_two_id] %}
{% endif %}
{% assign alt_caption_id = 'homepage_featured_' | append:item_two | append:'_caption'%}
{% if settings[alt_caption_id] == blank %}
	{% assign caption_two = product_two.title %}
{% else %}
	{% assign caption_two = settings[alt_caption_slug] %}
{% endif %}
{% assign alt_url_id = 'homepage_featured_' | append:item_two | append:'_alt_url'%}
{% if settings[alt_url_id] == blank %}
	{% assign url_two = product_one.url %}
{% else %}
	{% assign url_two = settings[alt_url_id] %}
{% endif %}

{% assign video_two_slug = 'homepage_featured_' | append:item_two | append:'_video' %}
{% if settings[video_two_slug] == nil %}
	{% assign video_two = false %}
{% else %}
	{% assign video_two = settings[video_two_slug] %}
{% endif %}

{% assign audio_two_slug = 'homepage_featured_' | append:item_two | append:'_audio_enabled' %}
{% if settings[audio_two_slug] == true %}
	{% assign audio_two = true %}
{% else %}
	{% assign audio_two = false %}
{% endif %}

<div class="slider featured__item featured__item--slider watch-in-view">
	<a class="slider__anchor"
		 href="{{ url_one }}"
		 data-href-primary="{{ url_one }}"
		 data-href-secondary="{{ url_two }}"
	></a>
	<div class="featured__inner">
		<div class="slider__item">
			<div class="slider__image-container">
				<a href="{{ url_one }}">
					{% include 'product-image-srcset' with
					class: 'slide__image',
					image: image_one,
					preload: true %}
					{% if video_one != false %}
						<h2>{{ audio_one}}</h2>
						<div class="featured__video">
							{% assign video = video_one %}
							{% include 'video' with video, audio: audio_one, autoplay: true %}
							{% assign video = false %}
						</div>
					{% endif %}
				</a>
			</div>
			<!-- <div class="featured__caption">
				<h1>{{ caption_one }}</h1>
			</div> -->
		</div>
		<div class="slider__scrubber-container slider-set-width">
			<div class="slider__scrubber">
				<span></span>
			</div>
		</div>
		<div class="slider__item slider__item-alt">
			<div class="slider__image-container slider__overlay-container">
				<svg class="slider__overlay-svg">
					<clipPath id="clip">
						<rect class="slider-set-width" x="0" y="0" height="100%" width="0%" fill="none"></rect>
					</clipPath>
				</svg>

				<div class="slider__overlay slider-set-width">
					<a href="{{ url_two }}">
						{% include 'product-image-srcset' with
						class: 'slide__image',
						image: image_two,
						preload: true %}
						{% if video_two != false %}
							<div class="featured__video">
								{% assign video = video_two %}
								{% include 'video' with video, audio: audio_two, autoplay: true %}
								{% assign video = false %}
							</div>
						{% endif %}

					</a>
				</div>
			</div>
			<!-- <div class="featured__caption">
				<h1>{{ caption_two }}</h1>
			</div> -->
		</div>
	</div>
</div>
