<header>
	<div class="burger">
		<span class="line"></span>
		<span class="line">
			<span class="line__double"></span>
		</span>
		<span class="line"></span>
	</div>
	<h1 class="logotype"><a href="/"><img src="{{ 'spk-logotype.svg' | asset_url }}" alt=""></a></h1>
	<div class="header__top">
		<div class="column">
			{% if shop.customer_accounts_enabled %}
				<div class="my-account">
					<a href="/account">
						<i class="icon-customer"></i>
						<h4>My Account</h4>
					</a>
				</div>
				{% endif %}
		</div>
	</div>
	<div class="header__top with-cart">
		<div class="column">
			<div class="cart">
		<a href="/cart">
			<i id="cart-icon" class="icon-cart"></i>
			<h4><span id="cart-count">{{ cart.item_count }}</span></h4>
		</a>
		<div id="cart-menu" class="cart__menu {% if cart.item_count > 0 %} has-items{% endif %}">
			<div class="cart__menu-items">
				{% for item in cart.items %}
					<div class="cart__menu-item" data-line-item="{{ item.id }}">
						<img src="{{ item.image | img_url: 'medium' }}" alt="">
						<div class="cart__menu-item-info">
							<h6 class="">
								<span class="cart__menu-item-title">{{ item.title }}</span>
								<span class="cart__menu-item-quantity {% if item.quantity > 1 %}has-quantity {% endif %}">({{ item.quantity}})</span>
							</h6>
							<h6 class="cart__menu-item-price">${{ item.line_price | money_without_currency }}</h6>
						</div>
					</div>
				{% endfor %}
				<div class="cart__menu-item prototype">
					<img src="" alt="">
					<div class="cart__menu-item-info">
						<h6>
							<span class="cart__menu-item-title"></span>
							<span class="cart__menu-item-quantity"></span>
						</h6>
						<h6 class="cart__menu-item-price"></h6>
					</div>
				</div>
			</div>
			<div class="cart__menu-bottom">
				<h5 id="cart-total">${{ cart.total_price | money_without_currency }}</h5>
				<a href="/cart">Checkout</a>
			</div>
		</div>
	</div>
		</div>
	</div>
	<nav>
		<div class="nav__inner column">
			<h2 class="logotype--sk"><a href="/">SK</a></h2>
			{% for link in linklists.main-menu.links %}
				{% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
				{% assign children = (linklists[child_list_handle].links.size) %}
				<div class="nav__item {% if children > 0 %}has-submenu {% endif %}">
					<h4>
						<a href="{{ link.url }}">{{ link.title }}</a>
						{% if children > 0 %}
						<i class="icon-angle-down"></i>
						{% endif %}
					</h4>
					{% if children > 0 %}
					<div class="nav__submenu">
						{% for child in linklists[child_list_handle].links %}
						<h4>
							<a href="{{ child.url }}">{{ child.title }}</a>
						</h4>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			{% endfor %}
			<div class="nav__item my-account">
				<h4 class="search-activate"><a href="/account">My Account</a></h4>
			</div>
			<div class="nav__item search">
				<h4 class="search-activate">Search</h4>
				<form class="search-form" method="get" action="/search">
					<input type="search" name="q" />
					<button class="primary" type="submit">&rarr;</button>
				</form>
			</div>
		</div>
	</nav>
</header>
