{% assign first = paginate.current_offset | plus: 1 %}
{% assign last = paginate.current_offset | plus: paginate.page_size %}
{% if paginate.items < last %}
  {% assign max = paginate.items %}
{% else %}
  {% assign max = last %}
{% endif %}

<div class="pagination">
  <h5 class="pagination__count">
    Showing items {{ first }}-{{ max }} of {{ paginate.items }}
  </h5>
  <h5 class="pagination__links">
    {% if paginate.previous.is_link %}
      <a class="pagination__link pagination__previous" href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
    {% endif %}
    {% if paginate.next.is_link %}
      <a class="pagination__link pagination__next" href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
    {% endif %}
  </h5>
</div>
