<div class="contact__form">

	{% form 'contact' %}

		<h4 class="form__title header">Custom Order Inquiry</h4>
		{% if form.posted_successfully? %}
			<h3 class="form__feedback">{{ 'contact.form.post_success' | t }}</h3>
		{% elsif form.errors %}
			<h3 class="form__feedback">{{ 'general.forms.post_error' | t }}</h3>
		{% endif %}
		<input type="hidden" name="contact[product_name]" readonly value="{{ product.title }}">

		<div class="form__field contact__name">
			<label>Name</label>
			<input type="text" name="contact[name]" placeholder="">
		</div>

		<div class="form__field contact__email">
			<label>Email</label>
			<input type="email" name="contact[email]" placeholder="">
		</div>

		<div class="form__field contact__telephone">
			<label>Phone Number</label>
			<input type="tel" name="contact[phone]" placeholder="">
		</div>

		<div class="form__field contact__city">
			<label>City</label>
			<input type="tel" name="contact[city]" placeholder="">
		</div>

		<div class="form__field contact__message">
			<label>Message</label>
			<textarea type="text" name="contact[body]" placeholder=""></textarea>
		</div>

		{% if product.options %}
			<div class="form__field contact__option">
				<label for="">{{ product.options[0] }}</label>
				<div class="select__wrapper">
					<select name="contact[size]" id="">
						{% for variant in product.variants %}
						<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
						value="{{ variant.id }}" data-sku="{{ variant.sku }}"
						data-trigger-option-value="{{ variant.price | money | strip_html }}"
						>{{ variant.title }}</option>

						{% endfor %}
					</select>
				</div>
			</div>
		{% endif %}

		<div class="form__row">
			<button class="dark primary" type="submit"><h4>Send</h4></button>
		</div>
	{% endform %}
</div>
