{% assign default_sizes = "100vw" %}
{% assign default_image = product.featured_image %}

{% if sizes == nil %}{% assign sizes = default_sizes %}{% endif %}
{% if image == nil %}{% assign image = default_image %}{% endif %}

{% if preload == true %}
	<div class="img-preload" data-lazy="{{ lazy }}">
		{% if asset == true %}
			<div class="img-preload-initial">
				<img src="{{ image | asset_img_url: '100x' }}" alt="">
			</div>
			<div class="img-preload-full">
				<img
					data-full-src="{{ image | asset_img_url: '1024x1024' }}"
					data-full-srcset="
						{{ image | asset_img_url: '2048x' }} 2048w,
						{{ image | asset_img_url: '1024x' }} 1024w,
						{{ image | asset_img_url: '600x' }} 600w,
						{{ image | asset_img_url: '480x' }} 480w,
						{{ image | asset_img_url: '240x' }} 240w,
						{{ image | asset_img_url: '160x' }} 160w,
						{{ image | asset_img_url: '100x' }} 100w,
						"
					sizes="{{ sizes }}"
					alt="{{ image.alt | escape }}"
					lazy="{{ lazy }}"
					{% if attributes != nil %}{{ attributes }}{% endif %}
					class="{{ class }}"
				/>

			</div>
		{% else %}
			<div class="img-preload-initial">
				<img src="{{ image.src | img_url: '100x' }}" alt="">
			</div>
			<div class="img-preload-full">
				<img
					data-full-src="{{ image.src | img_url: '1024x1024' }}"
					data-full-srcset="
						{{ image.src | img_url: '2048x' }} 2048w,
						{{ image.src | img_url: '1024x' }} 1024w,
						{{ image.src | img_url: '600x' }} 600w,
						{{ image.src | img_url: '480x' }} 480w,
						{{ image.src | img_url: '240x' }} 240w,
						{{ image.src | img_url: '160x' }} 160w,
						{{ image.src | img_url: '100x' }} 100w,"
					sizes="{{ sizes }}"
					alt="{{ image.alt | escape }}"
					{% if attributes != nil %}{{ attributes }}{% endif %}
					class="{{ class }}"
				/>
			</div>
		{% endif %}
	</div>

{% else %}

	{% if asset == true %}
		<img src="{{ image | asset_img_url: '1024x1024' }}"
			srcset="
				{{ image | asset_img_url: '2048x' }} 2048w,
				{{ image | asset_img_url: '1024x' }} 1024w,
				{{ image | asset_img_url: '600x' }} 600w,
				{{ image | asset_img_url: '480x' }} 480w,
				{{ image | asset_img_url: '240x' }} 240w,
				{{ image | asset_img_url: '160x' }} 160w,
				{{ image | asset_img_url: '100x' }} 100w,
				"
			sizes="{{ sizes }}"
			alt="{{ image.alt | escape }}"
			{% if attributes != nil %}{{ attributes }}{% endif %}
			class="{{ class }}"
		/>
	{% else %}
		<img src="{{ image.src | img_url: '1024x1024' }}"
			srcset="
				{{ image.src | img_url: '2048x' }} 2048w,
				{{ image.src | img_url: '1024x' }} 1024w,
				{{ image.src | img_url: '600x' }} 600w,
				{{ image.src | img_url: '480x' }} 480w,
				{{ image.src | img_url: '240x' }} 240w,
				{{ image.src | img_url: '160x' }} 160w,
				{{ image.src | img_url: '100x' }} 100w,"
			sizes="{{ sizes }}"
			alt="{{ image.alt | escape }}"
			{% if attributes != nil %}{{ attributes }}{% endif %}
			class="{{ class }}"
		/>
	{% endif %}

{% endif %}
