{% if product.price < product.compare_at_price %}
  {% assign on_sale = true %}
{% endif %}


<div class="grid__item {% if on_sale %} on-sale{% endif %}">
  <a href="{{ product.url }}">
    <div class="grid__image">
      {% include 'product-image-srcset',
         sizes: '(max-width: 860px) 100vw, 50vw'
         image: product.featured_image %}
    </div>
    <div class="grid__caption">
      {% if collection.metafields.c_f.price_hide == 'true' %}
        <p>{{ product.title }}</p>
      {% else %}
        <p>{{ product.title }} |
          <span class="regular-price">
            {{ product.price | money }}
          </span>
          {% if on_sale %}
          <span class="sale-price">
            {{ product.compare_at_price | money }}
          </span>
          {% endif %}
        </p>
      {% endif %}
    </div>
  </a>
</div>
