{% if product.price < product.compare_at_price %}
  {% assign on_sale = true %}
{% endif %}
{% if index == 2 and layout == '4' %}
  {% assign sizes = '(max-width: 860px) 100vw, 1200px' %}
{% else %}
  {% assign sizes = '(max-width: 860px) 100vw, 380px' %}
{% endif %}


<div class="grid__item {% if on_sale %} on-sale{% endif %}">
  <a href="{{ product.url }}">
    <div class="grid__image">
      {% if product.metafields.images.mobile_thumbnail %}

        {%
          include 'cloudinary-image' with
          sizes: sizes,
          cloudinary_id: product.metafields.images.mobile_thumbnail,
          class: 'grid__image--mobile'
          preload: true,
          lazy: 'true'
        %}

      {% endif %}
 
      {% include 'product-image-srcset' with
         sizes: sizes
         image: product.featured_image,
         mobile_thumbnail: product.metafields.images.mobile_thumbnail,
         preload: true,
				 lazy: 'true'
         class: 'grid__image--main'
			%}
     {% if product.images.size > 1 %}
        <div class="grid__image grid__image--hover">
          {% include 'product-image-srcset' with
            sizes: sizes
            image: product.images[1],
            preload: true,
            lazy: 'true'
          %}
        </div>
      {% endif %}
    </div>
    <div class="grid__caption">
      {% if collection.metafields.c_f.price_hide == 'true' %}
        <p>{{ product.title }}</p>
      {% else %}
        <p>{{ product.title }} |
          <span class="regular-price">
            {{ product.price | money }}
          </span>
          {% if on_sale %}
          <span class="sale-price">
            {{ product.compare_at_price | money }}
          </span>
          {% endif %}
        </p>
      {% endif %}
    </div>
  </a>
</div>
