{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if cart.item_count == 0 %}
<p class="empty-cart">
{% comment %}ly_i18n_replace_for_[ 'cart.general.empty' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.empty' | t }}{% endcapture %}{% include 'ly-static-string' with '2929602' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
</p>
{% else %}
{% for item in cart.items %}
<div class="quick-cart-item">
  <div class="quick-cart-image">
    <a href="{{ item.url }}" title="{% comment %}ly_code_replace_for_[ item.product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
      {% assign found = false %}
      {% for img in item.product.images %}
      {% if found == false and item.variant.title contains img.alt %}
      <img src="{{ img | product_img_url: 'small' }}"  alt="{{ item.alt | escape }}" />
      {% assign found = true %}
      {% endif %}
      {% endfor %}
      {% if found == false %}
      <img src="{{ item | img_url: 'small' }}"  alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}" />
      {% endif %}           
    </a>
  </div>
  <div class="quick-cart-details">
    <p><a href="{{ item.url }}">{% comment %}ly_code_replace_for_[ item.title ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></p>
      <p>{{ item.price | money }}</p>        
    <a class="remove_item" href="#" data-id="{{ item.variant.id }}">{% comment %}ly_i18n_replace_for_[ 'cart.general.remove' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.remove' | t }}{% endcapture %}{% include 'ly-static-string' with '2929603' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
  </div>
</div>
{% endfor %}
{% endif %}