{% paginate article.comments by 20 %}
{% assign number_of_comments = article.comments_count %}
{% assign published_at = article.published_at | date: format: 'month_date_year' %}

{% if comment and comment.created_at %}
	{% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<section class="article">
	<div class="column--narrow">
		<div class="article__header">
			<h1>{{ article.title }}</h1>
			<h5>Posted on {{ published_at }}</h5>
		</div>
	</div>
	<div class="carousel__placeholder carousel"></div>
	<div class="column--narrow">
		<div class="article__body rte">
			{{ article.content }}
		</div>
		{% if blog.handle == 'press' and article.tags.size > 0 %}
			<div class="article__items">
				<h2>Featured Items</h2>
				{% for tag in article.tags %}
				{% assign product = all_products[tag] %}
				{% if product %}
					<div class="article__item">
						<a href="{{ product.url }}">
							{% include 'product-image-srcset',
								sizes: '50vw'
								image: product.featured_image %}
							<h4>{{ product.title }}</h4>
						</a>
					</div>
				{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		<div class="article__share">
			<h5>Share this post on</h5>
			<div class="share__icons">
				{% if settings.show_facebook %}
				<h4 class="share__icon" >
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ article.url }}" target="_blank"><i class="icon-facebook icon-1-5x"></i></a>
				</h4>
				{% endif %}
				{% if settings.show_twitter %}
				<h4 class="share__icon" >
					<a href="http://twitter.com/intent/tweet?url={{ shop.url }}{{ article.url }}&text={{ article.title | escape}}" target="_blank"><i class="icon-twitter icon-1-5x"></i></a>
				</h4>
				{% endif %}
				{% if settings.show_pinterest %}
				<h4 class="share__icon" >
					<a href="https://www.pinterest.com/pin/create/button/"
					data-pin-do="buttonBookmark"
					data-pin-custom="true"
					target="_blank"><i class="icon-pinterest icon-1-5x"></i></a>
				</h4>
				{% endif %}
			</div>
		</div>
		<div class="article__navigation">
			{% if blog.next_article %}
				<h5><a href="{{ blog.next_article }}">&larr; Newer</a></h5>
			{% endif %}
			{% if blog.previous_article %}
				<h5><a href="{{ blog.previous_article }}">Older &rarr;</a></h5>
			{% endif %}
		</div>
	</div>
</section>

{% endpaginate %}
