<section class="checkout">
		<h2 class="checkout__header">My Cart</h2>
		{% if cart.item_count > 0 %}

			<form action="/cart" method="post">

				<div class="checkout__items">
					<div class="checkout__headers">
						<div class="checkout__image"></div>
						<h4 class="checkout__title">Item</h4>
						<h4 class="checkout__price">Price</h4>
						<h4 class="checkout__quantity">Quantity</h4>
						<h4 class="checkout__remove">Remove</h4>
						<h4 class="checkout__total">Total</h4>
					</div>
					{% for item in cart.items %}
						<div class="checkout__item cf">
							<div class="checkout__image">
								<a href="{{ item.url }}">
									<img src="{{ item.image | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="">
								</a>
							</div>
							<h4 class="checkout__title">{{ item.title }}</h4>
							<h4 class="checkout__price"><span class="label">Price:</span>${{ item.price | money_without_currency }}</h4>
							<h4 class="checkout__quantity"><span class="label">Quantity:</span><input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" /></h4>
							<h4 class="checkout__remove"><a href="/cart/change?line={{ forloop.index }}&quantity=0"><i class="icon-trash icon-2x inline"></i><span class="label">Remove</span></a></h4>
							<h4 class="checkout__total"><span class="label">Total:</span>${{ item.line_price | money_without_currency }}</h4>
						</div>
					{% endfor %}
				</div>
				<div class="checkout__bottom">
					<h3>Subtotal: ${{ cart.total_price | money_without_currency }}</h3>
          <p class="affirm-as-low-as" data-page-type="cart" data-amount="{{cart.total_price}}"></p>
					<button type="submit" name="update"><h4>Update Cart</h4></button>
					<div class="checkout__instructions">
						<p>Please leave special instructions below:</p>
						<textarea name="note">{{ cart.note }}</textarea>
					</div>
					<button type="submit" name="checkout" onclick="zonosCheckout(event)" class="primary"><h4>Checkout</h4></button>
					{% if additional_checkout_buttons %}
						<div class="checkout__icons">
							{{ content_for_additional_checkout_buttons }}
						</div>
					{% endif %}
				</div>

			</form>

		{% else %}

			<div class="checkout__empty">
				<h2>You have no items in your cart.</h2>
				<h2><a href="/">Continue Shopping</a></h2>
			</div>

		{% endif %}
</section>
