{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% paginate collection.products by 48 %}

<h1 class="desktop-6 desktop-push-3 tablet-3 mobile-3" style="display: none;">
  {% if collection.handle == 'all' %}{% comment %}ly_i18n_replace_for_[ 'collections.general.all_products' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.all_products' | t }}{% endcapture %}{% include 'ly-static-string' with '2929675' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}{% else %}{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}
</h1>
{% if collection.description != blank%}
  <div id="collection-description" class="collection-description desktop-12 tablet-6 mobile-3">
    <div class="rte">
      {% comment %}ly_code_replace_for_[ collection.description | remove: "[banner]" ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation | remove: "[banner]" }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>
  </div>
{% endif %}

<div class="clear"></div>

<!-- Product Filter Start -->
{% if true and collection.handle == 'rings' %}

<ul class="clearfix filters">
  <li class="clearfix filter">
    {% assign tags = 'Single Band, Two Bands, Three Bands, Four Bands, Five Bands' | split: ',' %}
    <div class="select">
    <label for="band-filter"><ly-as-2929671>Shop by Bands</ly-as-2929671></label>
    <select class="coll-filter" id="band-filter">
      <option value=""><ly-as-2929672>All</ly-as-2929672></option>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% elsif collection.all_tags contains tag %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
    </div>
  </li>
  <li class="clearfix filter">
    {% assign tags = 'Sterling Silver, Yellow Gold, Rose Gold, White Gold, Mixed Metal' | split: ',' %}
    <div class="select">
    <label for="metal-filter"><ly-as-2929673>Shop by Metal</ly-as-2929673></label>
    <select class="coll-filter" id="metal-filter">
      <option value=""><ly-as-2929672>All</ly-as-2929672></option>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% elsif collection.all_tags contains tag %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
    </div>
  </li>
 <li class="clearfix filter">
    {% assign tags = 'White Diamonds, Grey Diamonds, Black Diamonds, Cognac Champagne and White Diamond Mix, Colored Gems' | split: ',' %}
   	<div class="select">
    <label for="gem-filter"><ly-as-2929674>Shop by Gems</ly-as-2929674></label>
    <select class="coll-filter" id="gem-filter">
      <option value=""><ly-as-2929672>All</ly-as-2929672></option>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% elsif collection.all_tags contains tag %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
   	</div>
  </li>
</ul>

{% elsif collection.handle == 'available-immediately' %}

	<ul id="available-immediately-filters" class="clearfix filters"></ul>

	<script type="text/javascript">
      var ringSizes = { label: 'Ring Sizes', id: 'ring-sizes', sizes: [] };
      var braceletSizes = { label: 'Bracelet Sizes', id: 'bracelet-sizes', sizes: [] };
	</script>

	{% for p in collection.products %}

		{% for v in p.variants %}

			{% if p.type == 'Ring' %}

			<script type="text/javascript">
              var key = '{{ p.id }}';
              var ringSize = '{% comment %}ly_code_replace_for_[ v.option1 ]_begin{% endcomment %}{% include 'ly-option1' with v %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}';

              if (!ringSizes[key]) {
                ringSizes[key] = [];
              }

              if (ringSizes.sizes.indexOf(ringSize) < 0) {
                ringSizes.sizes.push(ringSize);
              }

              ringSizes[key].push(ringSize);

			</script>

			{% elsif p.type == 'Bracelets' %}

			<script type="text/javascript">
              var key = '{{ p.id }}';
              var braceletSize = '{% comment %}ly_code_replace_for_[ v.option1 ]_begin{% endcomment %}{% include 'ly-option1' with v %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}';

              if (!braceletSizes[key]) {
                braceletSizes[key] = [];
              }

			  if (braceletSizes.sizes.indexOf(braceletSize) < 0) {
                braceletSizes.sizes.push(braceletSize);
              }

              braceletSizes[key].push(braceletSize);
			</script>

			{% endif %}

		<!-- Name: {% comment %}ly_code_replace_for_[ p.title ]_begin{% endcomment %}{% include 'ly-title' with p %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {% comment %}ly_code_replace_for_[ p.type ]_begin{% endcomment %}{% include 'ly-type' with p %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {% comment %}ly_code_replace_for_[ v.option1 ]_begin{% endcomment %}{% include 'ly-option1' with v %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {{ p.options[0] }} -->

		{% endfor %}

	{% endfor %}

	<script type="text/javascript">
	function generateFilterItem(sizeObject) {
		if (sizeObject.sizes.length > 0) {
		  var li = document.createElement('li');
          li.className = 'clearfix filter';
          var div = document.createElement('div');
          div.className = 'select';
          var label = document.createElement('label');
          label.htmlFor = sizeObject.id;
		  label.innerText = sizeObject.label;
          var space = document.createTextNode(' ');
          var select = document.createElement('select');
          select.id = sizeObject.id;

          select.appendChild(document.createElement('option'));

          sizeObject.sizes.sort();
          for (var i = 0; i < sizeObject.sizes.length; i++) {
          	var sizes = document.createElement('option');
            sizes.value = sizeObject.sizes[i];
            sizes.innerText = sizeObject.sizes[i];
            select.appendChild(sizes);
          }

          div.appendChild(label);
          div.appendChild(space);
          div.appendChild(select);
          li.appendChild(div);
          ul.appendChild(li);

          sizeFilters.push(select);

          select.addEventListener('change', function(e) {
            for (var i = 0; i < sizeFilters.length; i++) {
              if (this !== sizeFilters[i]) {
              	sizeFilters[i].selectedIndex = 0;
              }
            }

          	var products = document.getElementById('product-loop');
            for (var i = 0; i < products.children.length; i++) {
             var id = products.children[i].id;
             id = id.substring(id.lastIndexOf('-') + 1);
              if (e.target.value === '' || (sizeObject[id] && sizeObject[id].indexOf(e.target.value) >= 0)) {
                products.children[i].style.display = 'block';
                products.children[i].style.clear = 'none';
              } else {
               	products.children[i].style.display = 'none';
              }
            }
          });
      }
    }

	function generateFilters(sizes, ul) {
      var li = document.createElement('li');
      li.className = 'clearfix filter';

      var div = document.createElement('div');
      div.className = 'select';

      var label = document.createElement('label');
	  label.htmlFor = 'grouped-sizes';
      label.textContent = 'Size';

      var select = document.createElement('select');
      select.id = 'grouped-sizes';
      select.appendChild(document.createElement('option'));

      for (var i = 0; i < sizes.length; i++) {
        if (sizes[i].sizes.length > 0) {
          var group = document.createElement('optgroup');
          //combine names of available filters
          //label.textContent += (label.textContent ? ' and ' : '') + sizes[i].label;

          sizes[i].sizes.sort(function(a, b) {
          	var a1 = Number(a);
            var b1 = Number(b);

            if (a1 && b1) {
              if (a1 < b1) {
				return -1
			  } else if (a1 > b1) {
				return 1;
			  } else {
				return 0;
			  }
            } else {
              if (a < b) {
				return -1
			  } else if (a > b) {
				return 1;
			  } else {
				return 0;
			  }
            }
          });

          for (var j = 0; j < sizes[i].sizes.length; j++) {
          	var option = document.createElement('option');
            option.value = sizes[i].sizes[j];
            option.innerText = sizes[i].sizes[j];
            group.label = sizes[i].label;
            group.appendChild(option);
          }

          select.appendChild(group);

        }
      }

      div.appendChild(label);
      div.appendChild(document.createTextNode(' '));
      div.appendChild(select);
      li.appendChild(div);
      ul.appendChild(li);

	  select.addEventListener('change', function(e) {
        var products = document.getElementById('product-loop');
        for (var i = 0; i < products.children.length; i++) {
          var id = products.children[i].id;
          id = id.substring(id.lastIndexOf('-') + 1);

          var match = sizes.find(function(s) {
            return s[id] && s[id].indexOf(e.target.value) >= 0;
          });

          if (e.target.value === '' || match) {
            products.children[i].style.display = 'block';
            products.children[i].style.clear = 'none';
          } else {
            products.children[i].style.display = 'none';
          }
        }
	  });
    }

    var sizeFilters = [];
	var ul = document.getElementById('available-immediately-filters');

    //if separate drop downs
    //generateFilterItem(ringSizes, ul);
	//generateFilterItem(braceletSizes, ul);

    //if one dropdown
    generateFilters([ringSizes, braceletSizes], ul);

	</script>

{% endif %}

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection page.
     Give you product tag filter select element a class of coll-filter.
     Give your collection select a class of coll-picker.
     Brought to you by Caroline Schnapp. */
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.coll-picker').change(function() {
    if (jQuery(this).val()) {
      location.href = '/collections/' + jQuery(this).val();
    }
    else {
      location.href = '/collections/all';
    }
  });
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      newURL += '/' + newTags.join('+');
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });
</script>
<!-- Product Filter End -->

<!-- Start Sidebar -->
{% if settings.collection_sidebar %}
{% include 'collection-sidebar' %}
{% endif %}
<!-- End Sidebar -->


<div class="{% if settings.collection_sidebar %}desktop-9 tablet-6{% else %}desktop-12 tablet-6{% endif %} mobile-3">

  {% if settings.collection_sidebar == false %}
  {% if settings.filters %}
  <div id="full-width-filter" class="desktop-12 tablet-6 mobile-3">
    {% include 'filter' %}
  </div>
  {% endif %}
  {% endif %}

  <div id="product-loop">

    {% for product in collection.products %}
    {% assign products-per-row = settings.products-per-row %}
    <div id="product-listing-{{ product.id }}" class="product-index {% if products-per-row == "6" %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == "4" %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == "3" %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == "5" %}desktop-fifth{% cycle ' first', '', '', '', ' last' %}{% elsif products-per-row == "2" %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-full" data-alpha="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" data-price="{{ product.price }}">
      {% include 'product-listing' %}
    </div>

    {% endfor %}

  </div>
</div>


{% include 'pagination' %}

{% endpaginate %}
