{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% layout none %}
<!DOCTYPE html>
<html style="padding: 0">
  <head>
    <title>{{ langify_shop_name }}</title>

    {% comment %}ly_asset_replace_for_[ 'stylesheet.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'stylesheet.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'font-awesome.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'font-awesome.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% comment %}ly_asset_replace_for_[ 'theme.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %} 
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}  
    {% comment %}ly_asset_replace_for_[ 'jquery.cookie.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.cookie.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'handlebars.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'handlebars.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'api.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'api.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}  
    {% comment %}ly_asset_replace_for_[ 'select.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'select.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}  
    {% comment %}ly_asset_replace_for_[ 'jquery.easing.1.3.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.easing.1.3.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'jquery.placeholder.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.placeholder.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}  
    {% comment %}ly_asset_replace_for_[ 'modernizr.custom.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'modernizr.custom.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'jquery.fancybox.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.fancybox.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'jquery.mousewheel-3.0.6.pack.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.mousewheel-3.0.6.pack.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}  
    {% comment %}ly_asset_replace_for_[ 'jquery.dlmenu.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.dlmenu.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}  
    {% comment %}ly_asset_replace_for_[ 'jquery.flexslider.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.flexslider.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'wow.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'wow.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

    {% include 'google-fonts' %}

    {{ content_for_header }}

  </head>
  <body class="gridlock {{ template }}">

    <div class="slideout">
      <div class="closeslide slideout-toggle">
        <i class="icon-angle-right"></i><i class="icon-angle-left"></i> 
      </div>
        <div>
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">{% comment %}ly_i18n_replace_for_[ 'password.general.enter_store' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.enter_store' | t }}{% endcapture %}{% include 'ly-static-string' with '2929792' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
        <input type="password" name="password" placeholder="{% comment %}ly_i18n_replace_for_[ 'password.general.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.password' | t }}{% endcapture %}{% include 'ly-static-string' with '2929793' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'password.general.enter' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.enter' | t }}{% endcapture %}{% include 'ly-static-string' with '2929794' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        {% endform %}
      </div>
    </div>    


    <div class="slideout-toggle open_password">
      <i class="icon-lock"></i> {% comment %}ly_i18n_replace_for_[ 'password.general.enter_store' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.enter_store' | t }}{% endcapture %}{% include 'ly-static-string' with '2929792' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    </div>

    <div class="password-page">
      <div class="row">
        <div id="logo" class="desktop-8 desktop-push-2 tablet-6 mobile-3">       
          {% if settings.use_logo_image %}
          <a href="/"><img src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ langify_shop_name }}" style="border: 0;"/></a>
          {% else %}
          <h1><a href="/">{{ langify_shop_name }}</a></h1>
          {% endif %}           
        </div> 
      </div>


      <div id="signup-holder" class="row">
        <div id="signup-wrap" class="desktop-6 desktop-push-3 tablet-4 tablet-push-1 mobile-3">
          {% unless shop.password_message == blank %}
          <div id="password-message">
            {{ shop.password_message }}
          </div>
          {% endunless %}           
          <div id="password-signup">
            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            <p class="success">{% comment %}ly_i18n_replace_for_[ 'password.general.thanks' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.thanks' | t }}{% endcapture %}{% include 'ly-static-string' with '2929795' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
            {% else %}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" id="password-email" placeholder="{% comment %}ly_i18n_replace_for_[ 'password.general.email_address' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.email_address' | t }}{% endcapture %}{% include 'ly-static-string' with '2929796' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            <input type="submit" id="password-subscribe" value="{% comment %}ly_i18n_replace_for_[ 'password.general.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '2929797' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% endif %}
            {% endform %}  
          </div>
        </div>
        
        <div class="clear"></div>
        
        <ul id="password-icons" class="desktop-6 desktop-push-3 tablet-6 mobile-3">
          {% if settings.show_facebook %}<li><a href="{{ settings.facebook_url }}" target="_blank"><i class="icon-facebook icon-2x"></i></a></li>{% endif %}
          {% if settings.show_twitter %}<li><a href="{{ settings.twittername }}" target="_blank"><i class="icon-twitter icon-2x"></i></a></li>{% endif %}
          {% if settings.show_pinterest %}<li><a href="{{ settings.pinterest_url }}" target="_blank"><i class="icon-pinterest icon-2x"></i></a></li>{% endif %}
          {% if settings.show_tumblr %}<li><a href="{{ settings.tumblr_url }}" target="_blank"><i class="icon-tumblr icon-2x"></i></a></li>{% endif %}
          {% if settings.show_youtube %}<li><a href="{{ settings.youtube_url }}" target="_blank"><i class="icon-youtube icon-2x"></i></a></li>{% endif %}
          {% if settings.show_googleplus %}<li><a href="{{ settings.googleplus_url }}" target="_blank"><i class="icon-google-plus icon-2x"></i></a></li>{% endif %}
          {% if settings.show_instagram %}<li><a href="//instagram.com/{{ settings.instagram-id }}" target="_blank"><i class="icon-instagram icon-2x"></i></a></li>{% endif %}
          {% if settings.show_rss %}<li><a href="{{ shop.url }}/blogs/news.atom" target="_blank"><i class="icon-rss icon-2x"></i></a></li>{% endif %}
        </ul>  
        
        
      </div>
    </div>  
    
    <div class="pass-foot">{% comment %}ly_i18n_replace_for_[ 'password.general.powered' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.powered' | t }}{% endcapture %}{% include 'ly-static-string' with '2929798' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <a href="//www.shopify.com/?ref=undergroundmedia"><ly-as-2929791>shopify</ly-as-2929791></a></div>

    <script>
      $('.slideout-toggle').on('click', function(event)
                               {
        event.preventDefault();
        var slideout = $('.slideout');
        var slideoutWidth = $('.slideout').width();   	

        slideout.toggleClass('open');

        if (slideout.hasClass('open'))
        {
          slideout.animate({right: '0'}, 250);	
        }
        else
        {
          slideout.animate({right: -slideoutWidth}, 250);	
        }     
      });

    
      
      if ( $('.storefront-password-form .errors').size() ) {

        var $errortoggle = $('.slideout');
        $($errortoggle).addClass('open');  

        $('.slideout-toggle').trigger('click');
      }
      
    </script>
	{% include 'social-meta-tags' %}
  </body>
</html>
