{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div id="product-{{ product.id }}">

  <!-- For Mobile -->
  <div id="mobile-product" class="desktop-12 tablet-6 mobile-3">
    <div class="flexslider">
      <ul class="slides">    
        {% for image in product.images %}
        <li><img src="{{ image.src | product_img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"></li>
        {% endfor %}      
      </ul>
    </div>  
  </div>   

  <!-- For Desktop -->


  <div id="product-photos" class="desktop-7 tablet-3 mobile-3">


    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

    <div class="bigimage desktop-10 tablet-5">
      <img id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt='{{ image.alt }}' title="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"/>
    </div>

    <div id="{{ product.id }}-gallery" class="desktop-2 tablet-1">	
      <div class="thumbnail-slider">
        {% for image in product.images %}
        <div class="slide">
          <a href="#" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
            <img class="thumbnail" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt }}" data-image-id="{{ image.id }}" />
          </a>
        </div>
        {% endfor %} 
      </div>
    </div>
  </div>



  <script type="text/javascript">
    $(document).ready(function () {

      $('.bxslider').bxSlider({
        pagerCustom: '#bx-pager'
      });

      $('.thumbnail-slider').bxSlider({
        mode: 'vertical',
        minSlides: 3,
        slideMargin: 10,
        infiniteLoop: false,
        pager: false,
        prevText: "",
        nextText: "",
        hideControlOnEnd: true
      });    

      //initiate the plugin and pass the id of the div containing gallery images
      $("#{{ product.id }}").elevateZoom({
        gallery:'{{ product.id }}-gallery',
        cursor: 'pointer', 
        galleryActiveClass: 'active', 
        borderColour: '#eee', 
        borderSize: '1' 
        }); 

      //pass the images to Fancybox
      $("#{{ product.id }}").bind("click", function(e) {  
        var ez =   $('#{{ product.id }}').data('elevateZoom');	
        $.fancybox(ez.getGalleryList());
      return false;
    });	  

    }); 
  </script>


  <div id="product-right" class="desktop-5 tablet-3 mobile-3">
    <div id="product-description">
      {% if settings.vendor %}<h3>{% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h3>{% endif %}
      <h1>{% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
      {% if settings.subtitle %}<p>{{ langify_title }}</p>{% endif %}      
      <p id="product-price">
        {% if product.available %}
        {% if product.compare_at_price > product.price %}
        <span class="product-price" itemprop="price">{{ product.price | money }}</span>&nbsp;<span class="was">{{ product.compare_at_price | money }}</span>
        {% else %}
        <span class="product-price" itemprop="price">{{ product.price | money }}</span>
        {% endif %}
        {% else %}
        <span class="product-price" itemprop="price">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '2929812' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        {% endif %}
      </p> 

      {% include 'pre-order' %}   

      <div class="desc">
        {% include 'social' with product %}
      </div>
    </div>

    <ul id="popups">
      {% if settings.popup-one != blank %}<li class="first"><a href="#pop-one" class="fancybox">{% comment %}ly_code_replace_for_[ pages[settings.popup-one].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.popup-one] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>{% endif %}
      {% if settings.popup-two != blank %}<li><a href="#pop-two" class="fancybox">{% comment %}ly_code_replace_for_[ pages[settings.popup-two].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.popup-two] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>{% endif %}
      {% if settings.popup-three != blank %}<li><a href="#pop-three" class="fancybox">{% comment %}ly_code_replace_for_[ pages[settings.popup-three].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.popup-three] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>{% endif %}
      {% if settings.popup-4 %}<li class="last"><a href="#pop-four" class="fancybox">{% comment %}ly_i18n_replace_for_[ 'products.product.popup_question' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.popup_question' | t }}{% endcapture %}{% include 'ly-static-string' with '2929813' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>{% endif %}
    </ul>
     {% if settings.popup-one != blank %}<div id="pop-one" style="display: none">{% comment %}ly_code_replace_for_[ pages[settings.popup-one].content ]_begin{% endcomment %}{% include 'ly-content' with pages[settings.popup-one] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>{% endif %}
     {% if settings.popup-two != blank %}<div id="pop-two" style="display: none">{% comment %}ly_code_replace_for_[ pages[settings.popup-two].content ]_begin{% endcomment %}{% include 'ly-content' with pages[settings.popup-two] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>{% endif %}
     {% if settings.popup-three != blank %}<div id="pop-three" style="display: none">{% comment %}ly_code_replace_for_[ pages[settings.popup-three].content ]_begin{% endcomment %}{% include 'ly-content' with pages[settings.popup-three] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>{% endif %}
     {% if settings.popup-4 %}<div id="pop-four" style="display: none">{% include 'question' %}</div>{% endif %}

  </div>




  <div class="clear"></div>

  <div id="lower-description" class="desktop-8 desktop-push-2 tablet-6 mobile-3">
    <div class="section-title lines"><h2>{% comment %}ly_i18n_replace_for_[ 'products.product.details' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.details' | t }}{% endcapture %}{% include 'ly-static-string' with '2929814' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2></div>  
    <div class="rte">{% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div> 
  </div>


  <div class="clear"></div>

  {% if collection %}
  {% include 'related-products' %}
  {% endif %}

  <div class="clear"></div>

  {% if collection %} 
  <div id="product-navigation" class="desktop-12 tablet-6 mobile-3">
    <span class="backto">
      {% comment %}ly_i18n_replace_for_[ 'products.product.back_to' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.back_to' | t }}{% endcapture %}{% include 'ly-static-string' with '2929815' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {% comment %}ly_code_replace_for_[ collection.title | link_to: collection.url ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation | link_to: collection.url }}{% comment %}ly_code_replace_end{% endcomment %}
    </span>



    <div id="back-forth">
      {% if collection.previous_product %}
      {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
      <span class="prev-prod"> 
        {% comment %}ly_i18n_replace_for_[ 'products.product.previous_product_html' | t | link_to: prev_url ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.previous_product_html' | t | link_to: prev_url }}{% endcapture %}{% include 'ly-static-string' with '2929816' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | link_to: prev_url }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        <img id="previous-product-image" />
        {% endif %}
      </span>
      {% if collection.next_product %} 
      {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
      <span class="next-prod">
        <img id="next-product-image" />
        {% comment %}ly_i18n_replace_for_[ 'products.product.next_product_html' | t | link_to: next_url ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.next_product_html' | t | link_to: next_url }}{% endcapture %}{% include 'ly-static-string' with '2929817' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | link_to: next_url }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </span>
      {% endif %}
    </div>
  </div>

  <script>
    jQuery.getJSON('{{ collection.next_product | append: '.js' }}', function(product) {
                   jQuery('#next-product-image').attr('src', product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_small$1'));
    });
    jQuery.getJSON('{{ collection.previous_product | append: '.js' }}', function(product) {
                   jQuery('#previous-product-image').attr('src', product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_small$1'));
    });
  </script>   

  {% endif %}  


</div>