{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign on_sale = product.price < product.compare_at_price %}
{% assign price_override = product.metafields.c_f.price_override %}
{% assign price_override_action = product.metafields.c_f.price_override_action %}
{% if price_override_action == 'contact' %}
	{% assign price_override = true %}
{% endif %}

<section class="product">
	<meta itemprop="priceCurrency" content="{{ shop.currency }}">
	<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

	<div class="product__main">
		<div class="product__images zoom-gallery">
			{% include 'carousel-modal' with images: product.images, carouselId: 'product-carousel-modal' %}
			{% if product.images.size > 1 %}
			<div class="zoom__thumbs">
				{% for image in product.images %}
					<div class="zoom__thumb">
						<img src="{{ image.src | img_url: 'medium' }}" alt="">
					</div>
				{% endfor %}
			</div>
			{% endif %}
			<div class="zoom__main">
				<div class="zoom__icon">
					<img src="{{ 'zoom-icon.svg' | asset_url }}" alt="zoom" />
				</div>
				{% for image in product.images %}
				{% include 'product-image-zoom', image: image, index: forloop.index, carouselId: 'product-carousel-modal' %}
				{% endfor %}
			</div>
		</div>

		<div class="product__info product-update {% if on_sale %}on-sale {% endif %}">
			<div class="product__top">
				<h2>{{ product.title }}</h2>
				{% unless price_override %}
					{% assign price = product.selected_or_first_available_variant.price %}
					<h3 class="product__price product-update-field" data-update-field-id="price" itemprop="price">{{ price | money }}</h3>
					{% if product.price < product.compare_at_price %}
						<h3 class="product__sale-price" itemprop="price">{{ product.compare_at_price | money }}</h3>
					{% endif %}
          <p class="affirm-as-low-as" data-page-type="product" data-amount="{{product.price}}"></p>
				{% endunless %}
			</div>

			{% if price_override %}

				{% unless price_override_action == 'contact' %}
					<div class="product__price--override">
						{% if price_override_action %}
							<button class="primary">
								<h4><a href="{{ price_override_action}}">{{ price_override }}</a></h4>
							</button>
						{% else %}
							<h4 class="header">{{ price_override }}</h4>
						{% endif %}
					</div>
				{% endunless %}
				
			{% else %}

				<form class="product__form {% if product.options.size > 1 or product.variants.size > 1 %} has-options{% endif %}"
					action="/cart/add" method="post" data-money-format="{{ shop.money_format }}" id="product-form-{{ product.id }}">

					<div class="product__option product__select">
						<label for="product-select-{{ product.id }}"><h5>{{ product.options[0] }}</h5></label>
						<div class="select__wrapper">
              <select id="product-select-{{ product.id }}"
                class="product-update-trigger"
                data-trigger-field="price"
                data-trigger-value="option"
                name='id'
              >
								{% for variant in product.variants %}
								<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
									value="{{ variant.id }}" data-sku="{{ variant.sku }}"
									data-variant-price="{{ variant.price }}"
									data-trigger-option-value="{{ variant.price | money | strip_html }}"
									>{{ variant.title }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="product__option product__option--quantity">
						<label for="quantity"><h5>Quantity</h5></label>
						<button type="button" class="square quantity__button product-update-trigger" data-trigger-field="quantity" data-trigger-value="minus"><i class="icon-minus"></i></button>
						<input type="number" class="product-update-field" min="1" value="1" name="quantity" data-update-field-id="quantity">
						<button type="button" class="square quantity__button product-update-trigger" data-trigger-field="quantity" data-trigger-value="plus"><i class="icon-plus"></i></button>
					</div>

					<button class="dark primary" type="submit">
						<h4 class="add">Add to Cart</h4>
						<h4 class="fa-icon success">&#xf00c;</h4>
					</button>
                  <span class="drophint-link"></span>
				</form>

			{% endif %}

			<div class="product__description rte">
				{{ product.description }}
			</div>

			{% if price_override and price_override_action == 'contact' %}
				{% include 'product-contact-form' %}
			{% endif %}
			{% include 'sizing-info' %}
		</div>
	</div>
	{% include 'related-items' %}
</section>
<script>
  var labelsInterval = null;
  
 
    labelsInterval=setInterval(function(){
      var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }
    if(jquery && jquery('#dropaform').size()){
      jquery('.form-drophint .form input.senderName').attr('placeholder','YOUR NAME');
      jquery('.form-drophint .form input.senderEmail').attr('placeholder','YOUR EMAIL');
      jquery('.form-drophint .form input.recName').attr('placeholder','RECIPIENT NAME');
      jquery('.form-drophint .form input.recEmail').attr('placeholder','RECIPIENT EMAIL');
      
      jquery('.drophint-area .drophint-popup .clz').attr('src','{{ 'close_ico_dropahint.png' | asset_url }}');
      
      clearInterval(labelsInterval);
    }
  },100); 
</script>

<script>
  var selectCallback = function(variant, selector) {
     
    //Affirm Promos: Monthly Payment Messaging, dynamic pricing embed code
    //
    //NOTE: This Affirm embed code is only needed if you are using product variants.
    //'selectCallback' might not be in your product.liquid template if product variants are not used or supported.
    //If you are using product variants in your shop, use the following code to dynamically update your Monthly Payment Messaging when the customer selects a different product variant.
    
    $('.affirm-as-low-as').attr('data-amount',variant.price);
    affirm.ui.refresh();
     
  };
 
</script>
<style>
  .drophint-link a{ padding: 10px 0; text-align: center;  border: 1px solid #000; width: 100%; margin-top: 5px;}
</style>
