{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% assign on_sale = product.price < product.compare_at_price %}

<section class="product">
	<meta itemprop="priceCurrency" content="{{ shop.currency }}">
	<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

	<div class="product__main">
		<div class="product__images zoom-gallery">
			<div class="zoom__main">
				{% for image in product.images %}
				{% include 'product-image-zoom', image: image, index: forloop.index %}
				{% endfor %}
			</div>
			{% if product.images.size > 1 %}
			<div class="zoom__thumbs">
				{% for image in product.images %}
					<div class="zoom__thumb">
						<img src="{{ image.src | img_url: 'medium' }}" alt="">
					</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<div class="product__info product-update {% if on_sale %}on-sale {% endif %}">
			<div class="product__top">
				<h2>{{ product.title }}</h2>
				{% assign price = product.selected_or_first_available_variant.price %}
				<h3 class="product__price product-update-field" data-update-field-id="price" itemprop="price">{{ price | money }}</h3>
				{% if product.price < product.compare_at_price %}
					<h3 class="product__sale-price" itemprop="price">{{ product.compare_at_price | money }}</h3>
				{% endif %}
			</div>

			<form class="product__form" action="/cart/add" method="post" data-money-format="{{ shop.money_format }}" id="product-form-{{ product.id }}">

				{% if product.options.size > 1 or product.variants.size > 1 %}
				<div class="product__option">
					<label for="product-select-{{ product.id }}"><h5>{{ product.options[0] }}</h5></label>
					<div class="select__wrapper">
						<select id="product-select-{{ product.id }}" class="product-update-trigger" data-trigger-field="price" data-trigger-value="option" name='id'>
							{% for variant in product.variants %}
							<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
								value="{{ variant.id }}" data-sku="{{ variant.sku }}"
								data-trigger-option-value="{{ variant.price | money | strip_html }}"
								>{{ variant.title }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				{% endif  %}
				<div class="product__option product__option--quantity">
					<label for="quantity"><h5>Quantity</h5></label>
					<button type="button" class="square quantity__button product-update-trigger" data-trigger-field="quantity" data-trigger-value="minus"><i class="icon-minus"></i></button>
					<input type="number" class="product-update-field" min="1" value="1" name="quantity" data-update-field-id="quantity">
					<button type="button" class="square quantity__button product-update-trigger" data-trigger-field="quantity" data-trigger-value="plus"><i class="icon-plus"></i></button>
				</div>

				<button class="dark primary" type="submit">
					<h4 class="add">Add to Cart</h4>
					<h4 class="fa-icon success">&#xf00c;</h4>
				</button>
			</form>

			<div class="product__description rte">
				{{ product.description }}

			</div>
			{% include 'sizing-info' %}
		</div>
	</div>
	{% include 'related-items' %}
</section>
