{% paginate search.results by 48 %}
<section class="collection search-results">
  {% if search.performed %}
    <p class="collection__description">
      Search results for '{{ search.terms }}'
    </p>

    <div class="grid">
      {% for item in search.results %}
        <div class="grid__item search__result search__result--{{ item.object_type }}">

          <a href="{{ item.url }}">
            {% if item.object_type == 'product' or item.object_type == 'collection' %}
              {% assign caption = item.description | strip_html | truncate: 200 %}
            {% elsif item.object_type == 'page' %}
              {% assign caption = item.content | strip_html | truncate: 200 %}
            {% else %}
              {% assign caption = item.excerpt_or_content | strip_html | truncate: 200 %}
            {% endif %}

            {% if item.object_type == 'product' or item.object_type == 'article' or item.object_type == 'collection' %}
              {% if item.object_type == 'product' %}
                {% assign image = item.featured_image %}
              {% elsif item.object_type == 'article' or item.object_type = 'collection' %}
                {% assign image = item.image %}
              {% endif %}
              <div class="result__image">
                {% include 'product-image-srcset',
                   sizes: '(max-width: 860px) 100vw, 30vw'
                   image: image %}
              </div>
            {% endif %}
            <div class="result__text">
              <h3 class="result__title"><span class="result__title-inner">{{ item.title }}</span></h3>
              <p class="result__caption">{{ caption }}</p>
            </div>
          </a>
        </div>
      {% else %}
        <p>Your search returned 0 results.</p>
      {% endfor %}
    </div>
  {% else %}

    <div class="column">
      <form action="/search" method="get" class="search-form" role="search">
        <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
        <button class="primary"><h4>Search</h4></button>
      </form>
    </div>

  {% endif %}

{% include 'pagination' %}

</section>

{% endpaginate %}
